{% extends "partials/base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<!-- TODO Test Code
{% for login in login_session %}
<p>{{login}}</p>
{% endfor %}
END TEST CODE -->
{% for watchlist in watchlists %}
<h2>Community contributed watchlists:<h2>
<a href="{{ '/watchlists/%s'% watchlist.id }}">{{watchlist.name}}</a> submitted by <a href="#">{{watchlist.user_id}}</a><br>
{% endfor %}
<!--TODO if logged in-->
<a href="{{ '/watchlists/new'}}"><button type="button">New Watchlist!</button></a><br>
{% endblock %}
