{% extends "partials/base.html" %}
{% block title %}New Media{% endblock %}
{% block body %}
<!--MESSAGE FLASH -->
{% with messages = get_flashed_messages() %}
{% if messages %}

<div class="message_flash">
{% for message in messages %}
  <p><strong>{{message}}</strong></p>
  {% endfor %}
</div>
{% endif %}
{% endwith %}
<!-- end message flash -->
<form method='Post' enctype='multipart/form-data' action="{{'/watchlists/%s/newMedia/' % watchlist_id}}">
  <h2>New Media</h2>
  Name: <input name='name' type='text' > <br>
  Rating: <input name='rating' type='text' > <br>
  Type: <input name='type' type='text' > <br>
  Comments: <textarea rows='4' cols='40' name='comments'></textarea> <br>
  <input name="user_id" type="hidden" value="{{user_id}}">
  <input type='submit' value='Submit'>
  </form>
  <a href="{{'/watchlists/%s' % watchlist_id }}"><button type='button'>Cancel</button></a>
{% endblock %}
