{% extends "partials/base.html" %}
{% block title %}Media Search{% endblock %}
{% block body %}
<!--MESSAGE FLASH -->
{% with messages = get_flashed_messages() %}
{% if messages %}

<div class="message_flash">
{% for message in messages %}
  <p><strong>{{message}}</strong></p>
  {% endfor %}
</div>
{% endif %}
{% endwith %}
<!-- end message flash -->
  <h2>Search</h2>
  <script>
  var watchlist_search_button_click = 0;
  </script>
  Title: <span><input type='text' id="watchlist_search_title"></span> <br>
  <button type="button" id="watchlist_search_button">
    <a href="javascript:watchlist_search({{ watchlist_id }}, watchlist_search_button_click);">Search</a>
  </button>
  <!-- A box to return any information via ajax -->
  <img id="watchlist_search_loading" style="display: none" src="/static/img/loading.gif">
  <div id="watchlist_search_box"></div>
  <div id="watchlist_search_done" style="display:none">
    <p>Not what you were looking for? Try hitting the button below to search again</p>
    <button onclick="javascript:watchlist_search_button_click+=1;watchlist_search({{ watchlist_id }}, watchlist_search_button_click);">Seach another</button><br>
    <a id="watchlist_search_link" href="/watchlists/{{watchlist_id}}/newMedia"><button type="button">Nope, I'm Good!</button></a>
  </div>
    <a href="/watchlists/{{watchlist_id}}"><button type='button'>Cancel</button></a>
{% endblock %}
