<!doctype html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js">
  </script>
  <script>
  function watchlist_search(watchlist_id, searchInt) {
      $('#watchlist_search_box').hide();
      $('#watchlist_search_loading').show();
      $.ajax({
         url: '/watchlists/' + watchlist_id + '/newMedia/search',
         type: "post",
         data: {'title': $('#watchlist_search_title').val(), 'searchInt': searchInt},
         success: function(imdbJSON){
             $('#watchlist_search_box').html('<img src='+ imdbJSON['cover'] + '><br><p>' + imdbJSON['description'] + '</p>');
             $('#watchlist_search_loading').hide();
             $('#watchlist_search_box').show();

             //edit the link so that it can send the user back to the add page with the proper id
             $('#watchlist_search_link').attr("href", "/watchlists/" + watchlist_id + "/newMedia?id=" + imdbJSON['id'] + "&title=" + imdbJSON['title'] + "&art=" + imdbJSON['cover'])
             $('#watchlist_search_done').show();
         }
      });

  }
  </script>

<script src="//apis.google.com/js/platform.js?onload=start"> </script>
</head>
  <body>
    <div class=container>
      <nav id="wj_nav">
        <ul>
          <li><a href="/">Home</a></li>
          {% if user %}
            <li><a href="#">{{ user.username }}</a></li>
            <li><a href="/disconnect">Logout</a></li>
          {% else %}
            <li><a href="/login">Login</a></li>

          {% endif %}
        </ul>
      </nav>
      {% block body %}
      {% endblock %}
      <footer>
        Project by William Jellesma
      </footer>
    </div>

    </body>
</html>
