{% extends "partials/base.html" %}
{% block title %}Home{% endblock %}

{% block body %}
<!--MESSAGE FLASH -->
{% with messages = get_flashed_messages() %}
{% if messages %}

<div class="message_flash">
{% for message in messages %}
  <li><strong>{{message}}</strong></li>
  {% endfor %}
</div>
{% endif %}
{% endwith %}
<!-- end message flash -->
<form method='Post' enctype='multipart/form-data' action="{{'/menuItem/%s/%s/delete/' % (restaurant_id, menuItem.id) }}">
  <h2>Delete Menu Item</h2>
  <h2>Are you sure that you want to delete {{menuItem.name}}?</h2>
  <input name='response' type='radio' value='yes'>Yes
  <input name='response' type='radio' value='no'>No
  <input type='submit' value='Submit'>
  </form>
  <a href="{{'/restaurants/%s' % restaurant_id}}"><button type='button'>Cancel</button></a>
{% endblock %}
