{% extends "partials/base.html" %}
{% block title %}{{ restaurant.name }}{% endblock %}
{% block body %}
<h1>{{restaurant.name}}</h1>
<a href="{{'/restaurants/%s/newMenuItem/'% restaurant.id}}"><button type='button'>Create New Menu Item</button></a>
<p>Click an item name to edit it</p>
{% for item in items %}
<div class ='row'>
  <div class='col-md-9'><p><a href="{{'/menuItem/%s/%s/edit' % (restaurant.id, item.id)}}">{{item.name}}</p></a></div>
  <div class='col-md-3'><p>{{item.price}}</p></div>
</div>
<div class="col-md-12">{{item.description}}</div>
<a href="{{'/menuItem/%s/%s/delete/' % (restaurant.id, item.id)}}"><button type='button'>Delete</button></a>
<br>
{% endfor %}
{% endblock %}
